---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Maintenance">
  <section class="flex items-center h-[90svh] p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-text text-9xl">
          <span class="sr-only">Maintenance</span>
        </h2>
        <p class="text-3xl text-text font-semibold md:text-3xl">Under Maintenance</p>
        <p class="mb-5 text-base font-normal text-white dark:text-gray-400 md:text-lg">
          Sorry for the inconvenience but we’re performing some maintenance at the moment. If you need to you can always{
            ' '
          }
          <a href={'#'} class="text-primary-700 dark:text-primary-500 hover:underline"> contact us </a>
          , otherwise we’ll be back online shortly!.
        </p>
        <a rel="noopener noreferrer" href={'/'} class="btn ml-4 text-white hover:underline">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>
