<div
  class="justify-center items-center text-muted text-sm dark:bg-black dark:text-slate-400 flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <a href="/" class="text-muted hover:underline dark:text-slate-400 font-medium">WE CARE »</a>
</div>
